* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    background-image: url(1bae722ad3f8713275c947a411bdd584c5fbabe7_widexl.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
 font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.3);
    color: aliceblue;
    list-style-type: disc;
    width: 100%;
    position: sticky;
    position: relative;
    height: 40%;
    width: auto;

}

 header ul{
display: flex;
padding-top: 2%;
padding-bottom: 2%;
  display: flex;
    align-items: center;
    text-align: center;
list-style-type: none;
margin: 0 auto;

 }



 header ul li a{
    font-size:150%;
    list-style-type: none;
padding-right: 25px;
    margin-right: 10%;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);

 }

 header ul li a:hover{
    scale: 1.07;
    color: rgb(192, 192, 192);
 }


/* fotos papel rasgado */

.imgcima{
padding-left: 38%;
}

.imgcima img{
    margin-top: 70%;
position: relative;
height: 50%;
width: 50%;
transform: rotate(90deg);
}

.imgbaixo{
    padding-left: 35%;
    }
    
    .imgbaixo img{
        margin-top: -100%;
        height: 50%;
        width: 48%;
        transform: rotate(90deg);
    }


/* titulo */

.motivin{
   margin-top: 4%;
    margin-bottom: -4%;
text-align: center;
 font-size: 160%;   
}


    /* perguntas */
    
    .motivo{
        margin-top: 7.6%;
    font-size:2.75em, 2em + 2vw, 2.25em;
    }

    #motivo {
        font-size : 200%; 
     margin-left: 15%;
     margin-right: 15%;
        width: 70%;
    }

    .motivo1{
        margin-top:3%;
    font-size:2.75em, 2em + 2vw, 2.25em;
    }

    #motivo1 {
        font-size : 200%; 
     margin-left: 15%;
     margin-right: 15%;
        width: 70%;
    }

   .imgs{
    margin-top:3%;
   }

   #imgs{
    height: 70%;
    width: 70%;
    margin-left: 15%;
   }

   .corno{
margin-top: 50%;
   }